body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  position: relative;
}
.app-container .left-side-section {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 180px;
  overflow-y: auto;
  background-color: blue;
}
